<!-- form to update database data -->
<h1>Update {{player.fname}} {{player.lname}}</h1>
<form id="update-player" action="/players" method="post">
<fieldset>
  <legend>Enter Player Info</legend>
    First Name: <input type="text" name="fname" value="{{player.fname}}"><br>
    Last Name: <input type="text" name="lname" value="{{player.lname}}"><br>
    Team: <select name="team_id" id="team-selector">
        {{#each teams}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age" value="{{player.age}}"><br>
    Field Goal Percentage: <input type="number" name="fg" value="{{player.fg}}"><br>
    Points Per Game: <input type="number" name="ppg" step=".001" value="{{player.ppg}}"><br>
</fieldset>
</form>
<button onclick="updatePlayer({{player.id}})">Update</button>
<script defer>selectTeam({{player.team_id}});</script>
